.idea
code/gan_model/generated_images/*
code/gan_model/gen_history/*
code/gan_model/logs/*
code/gan_model/checkpoints/*
code/gan_model/*.pyc
code/gan_model/tf_logs/*
code/autoencoder_model/generated_images/*
code/autoencoder_model/gen_history/*
code/autoencoder_model/logs/*
code/autoencoder_model/checkpoints/*
code/autoencoder_model/*.pyc
code/autoencoder_model/tf_logs/*
code/autoencoder_model/gifs/*
code/autoencoder_model/test_results_dir/*
code/autoencoder_model/baymax/*
code/autoencoder_model/test_results/*
code/autoencoder_model/Archive/*
