.idea
code/gan_model/generated_images/*
code/gan_model/gen_history/*
code/gan_model/logs/*
code/gan_model/checkpoints/*
code/gan_model/*.pyc
code/gan_model/tf_logs/*
code/autoencoder_model/zhora/generated_images/*
code/autoencoder_model/zhora/gen_history/*
code/autoencoder_model/zhora/logs/*
code/autoencoder_model/zhora/checkpoints/*
code/autoencoder_model/scripts/*.pyc
code/autoencoder_model/zhora/tf_logs/*
code/autoencoder_model/zhora/attn_weights/*
code/autoencoder_model/zhora/gifs/*
code/autoencoder_model/zhora/test_results/*
code/autoencoder_model/baymax/*
code/autoencoder_model/Archive/*
code/autoencoder_model/walle/
code/autoencoder_model/gifs/imgs/*
